---
import '../../styles/main.css'
import XahauAboutJa from '../../components/XahauAboutJa.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const _frontmatter = {
  title: 'Xahauについて',
  description:
    'アカウントベースプログラマビリティを持つエンタープライズL1ブロックチェーン',
}
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauAboutJa />
  </div>
</BaseLayout>
