---
import '../../styles/main.css'
import XahauContestJa from '../../components/XahauContestJa.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const _frontmatter = {
  title: 'Xahau Dev Contest',
  description: 'Ecosystem Rising — Xahauを活用したユーザー向けサービスを構築',
}
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="flex-none container mx-auto max-w-7xl p-6 pb-12">
    <XahauContestJa />
  </div>
</BaseLayout>
