---
import '../../styles/main.css'
import XahauAbout from '../../components/XahauAbout.astro'
import { aboutTranslations } from '../../i18n/aboutTranslations'
import BaseLayout from '../../layouts/BaseLayout.astro'
import generateStaticPaths from '../../utils/generateStaticPaths'

export function getStaticPaths() {
  return generateStaticPaths()
}

const { locale } = Astro.props
const t = aboutTranslations[locale]
const _frontmatter = { title: t.page_title, description: t.page_subtitle }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauAbout />
  </div>
</BaseLayout>
