---
import '../../styles/main.css'
import XahauConnect from '../../components/XahauConnect.astro'
import connectData from '../../data/connect.json'
import { defaultLocale, type Locale, locales } from '../../i18n/locales'
import BaseLayout from '../../layouts/BaseLayout.astro'

export function getStaticPaths() {
  return locales.map((locale) => {
    const lang = locale === defaultLocale ? undefined : locale.toLowerCase()
    return {
      params: { lang },
      props: { locale },
    }
  })
}

const { locale } = Astro.props
const { title, description } = connectData.meta[locale]
const _frontmatter = { title, description }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauConnect />
  </div>
</BaseLayout>
