---
import '../../styles/main.css'
import XahauRoadmap from '../../components/XahauRoadmap.astro'
import roadmapData from '../../data/roadmap.json'
import { defaultLocale, locales } from '../../i18n/locales'
import BaseLayout from '../../layouts/BaseLayout.astro'

export function getStaticPaths() {
  return locales.map((locale) => {
    const lang = locale === defaultLocale ? undefined : locale.toLowerCase()
    return {
      params: { lang },
      props: { locale },
    }
  })
}

const { locale } = Astro.props
const { title, description } = roadmapData.pageMeta[locale]
const _frontmatter = { title, description }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauRoadmap lang={locale} theme="light" />
  </div>
</BaseLayout>
