---
import '../styles/main.css'
import XahauConnect from '../components/XahauConnect.astro'
import connectData from '../data/connect.json'
import BaseLayout from '../layouts/BaseLayout.astro'

const { title, description } = connectData.meta.en
const _frontmatter = { title, description }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauConnect />
  </div>
</BaseLayout>
