---
import '../styles/main.css'
import XahauContest from '../components/XahauContest.astro'
import { contestTranslations } from '../i18n/contestTranslations'
import BaseLayout from '../layouts/BaseLayout.astro'

const { page_title: title, page_subtitle: description } = contestTranslations.en
const _frontmatter = { title, description }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="flex-none container mx-auto max-w-7xl p-6 pb-12">
    <XahauContest />
  </div>
</BaseLayout>
