---
import '../styles/main.css'
import XahauEcosystem from '../components/XahauEcosystem.astro'
import ecosystemData from '../data/ecosystem.json'
import BaseLayout from '../layouts/BaseLayout.astro'

const _frontmatter = {
  title: ecosystemData.title.en,
  description: ecosystemData.description.en,
}
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauEcosystem />
  </div>
</BaseLayout>
