---
import '../styles/main.css'
import XahauFeatures from '../components/XahauFeatures.astro'
import { featuresTranslations } from '../i18n/featuresTranslations'
import BaseLayout from '../layouts/BaseLayout.astro'

const { page_title: title, page_subtitle: description } =
  featuresTranslations.en
const _frontmatter = { title, description }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauFeatures lang="en" />
  </div>
</BaseLayout>
