---
import '../styles/main.css'
import XahauRoadmap from '../components/XahauRoadmap.astro'
import roadmapData from '../data/roadmap.json'
import BaseLayout from '../layouts/BaseLayout.astro'

const { title, description } = roadmapData.pageMeta.en
const _frontmatter = { title, description }
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauRoadmap lang="en" theme="light" />
  </div>
</BaseLayout>
