---
import '../styles/main.css'
import XahauRoadmap from '../components/XahauRoadmap.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const _frontmatter = {
  title: 'Roadmap',
  description: 'Xahau roadmap across the upcoming quarters',
}
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauRoadmap lang="en" theme="light" />
  </div>
</BaseLayout>
