---
import '../styles/main.css'
import '../styles/roadmap.css'
import BaseLayout from '../layouts/BaseLayout.astro'

const { frontmatter } = Astro.props
---

<BaseLayout frontmatter={frontmatter}>
    <section id="xah-timeline" class="xah-container">
    <div class="flex-none container pb-12 text-left xah-timeline-headlines">
        <h1 class="text-5xl font-extrabold mb-2">Roadmap</h1>
        <h2 class="text-2xl font-semibold">This year, Xahau Network intends to receive powerful updates across scalability, accessibility, security, and innovation</h2>
    </div>
    <h3 class="xah-timeline-h3">H1 2025</h3>
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-picture">
        </div>
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">1. Project "L10K"</h4>
            <p>Improve core technology efficiency to boost transaction capacity to 10,000 transactions per ledger for better efficiency and security.</p>
            <div class="content-content-archivement">A milestone in performance for the Xahau ecosystem!</div>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-movie">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">2. Improve UDP Monitoring & RPC</h4>
            <p>Connection-less monitoring and RPC features for node operators optimize performance and scalability across the network.</p>
            <p>Allowing for efficient, passive monitoring of single or multi-node environments - significantly reducing the overhead.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-picture">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">3. Finalized New Features</h4>
            <div class="timeline-content-info">Remarks, Touch, Blackhole, DataMonitor</div>
            <p>Complete development and integration of these cutting-edge features, improving interaction with Xahau for developers as well as end-users through products built by developers.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-location">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">4. Ledger Hardware Wallet Full Support for Xahau</h4>
            <p>Ensure secure, streamlined Xahau transactions with Ledger Hardware Wallet compatibility, opening up accessibility to Xahau worldwide.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-location">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">5. Exchange and On/Off-Ramp Access</h4>
            <p>Xahau is intended to become more accessible through exchanges and on/off-ramp platforms, supporting broader participation and integration within the ecosystem.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-location">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">6. LedgerLive Support</h4>
            <p>Xahau integration with Ledger Live, enabling easy access and management using the popular Ledger Live product.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->  
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-location">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">7. Universal Embeddable Hook Explainer Frame</h4>
            <p>Allowing any wallet to easily integrate a clear explanation of the influence of Hooks on transactions (web, mobile, desktop) with clear, integrated visuals for HookSet transactions, ensuring easier adoption.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->  
    <h3 class="xah-timeline-h3">H2 2025</h3>
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-location">
        </div>
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">8. JavaScript Hooks Implementation</h4>
            <p>Pending audit approval, bring JavaScript-based Hooks and tooling to tens of millions of developers around the world to develop using Xahau for advanced on-chain logic and programmable transaction capabilities.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-movie">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4"></>9. Comprehensive Audits & Security Checks</h4>
            <p>Complete audits for all major 2025 features to demonstrate the security and stability of the network, providing verifiable assurance to the world as we head into 2026.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-movie">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">10. Improved User Experience</h4>
            <p>Guided by feedback, the Xahau ecosystem is set to ensure seamless integration and usability across all wallets and applications.</p>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->
    <div class="xah-timeline-block">
        <div class="xah-timeline-img xah-movie">
        </div>
        <!-- xah-timeline-img -->
        <div class="xah-timeline-content">
            <h4 class="xah-timeline-h4">11. Batch Implementation</h4>
            <p>Enable efficient multi-transaction verifications, ensuring either all or no transactions occur while allowing service providers to incorporate workflow-specific operations seamlessly into the transaction flow.</p>
            <div class="content-content-archivement">2025 is the year Xahau becomes easier to access, use, leverage, and build on while scaling smarter, faster, and stronger.</div>
        </div>
        <!-- xah-timeline-content -->
    </div>
    <!-- xah-timeline-block -->        
  </section>
  <!-- xah-timeline -->
  <div id="particles-js"></div>
  <!-- particles placeholder -->

  <script src="/scripts/particles.js" is:inline></script>
  <script src="/scripts/particles-custom.js" is:inline></script>
</BaseLayout>